.angularjs-datetime-picker{
  z-index : 99;
}

.pulseDate{
	border : 2px solid red;
	border-radius : 50%;
	text-align : center;
	padding : 5%;
	width : 40%;
}
.pulseDate:empty
{
    padding : 0%;
}

.deliverDate{
	border : 2px solid lightGreen;
	border-radius : 50%;
	text-align : center;
	padding : 5%;
	width : 40%;
}
.deliverDate:empty
{
    padding : 0%;
}

.deliveredDate{
	border : 2px solid darkGreen;
	border-radius : 50%;
	text-align : center;
	padding : 5%;
	width : 40%;
}
.deliveredDate:empty
{
    padding : 0%;
}

.cancelDate{
	border : 2px solid grey;
	border-radius : 50%;
	text-align : center;
	padding : 5%;
	width : 40%;
}
.cancelDate:empty
{
	padding : 0%;
}

.readyDate{
	border : 2px solid orange;
	border-radius : 50%;
	text-align : center;
	padding : 5%;
	width : 40%;
}
.readyDate:empty
{
	padding : 0%;
}

.returnDate{
  border : 2px solid black;
  border-radius : 50%;
  text-align : center;
  padding : 5%;
  width : 40%;
}
.returnDate:empty
{
  padding : 0%;
}

.otherDate{
  border : 2px solid #EEE;
  border-radius : 50%;
  text-align : center;
  padding : 5%;
  width : 40%;
}
.otherDate:empty
{
  padding : 0%;
}

.material-icons{
  vertical-align:middle;
}

.nopadddingTable th.md-column, .nopadddingTable td.md-cell{
  padding: 0 0 0 0 !important;
}