<md-button aria-label="createCoupon" ng-click="vm.openEditCouponDialog($event, {})" class="md-primary">新增 + </md-button>
<md-divider></md-divider>

<md-table-container>
  <table md-table md-row-select ng-model="vm.selected" md-progress="vm.promise">
    <thead md-head md-order="coupon.couponId">
      <tr md-row>
        <th md-column>編號</th>
        <th md-column md-numeric>代號</th>
        <th md-column md-numeric>說明</th>
        <th md-column md-numeric>優惠折數</th>
        <th md-column md-numeric>使用最低價格</th>
        <th md-column md-numeric>使用最高價格</th>
        <th md-column md-numeric>到期日</th>
        <th md-column md-numeric>每人/每張使用上限</th>
		<th></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="coupon" md-select-id="{{coupon.couponId}}" md-auto-select ng-repeat="coupon in vm.resource.content">
        <td md-cell>{{coupon.couponId}}</td>
        <td md-cell>{{coupon.couponName}}</td>
        <td md-cell>{{coupon.couponDesc}}</td>
        <td md-cell>{{coupon.value}}%</td>
        <td md-cell>{{coupon.minLimit}}</td>
        <td md-cell>{{coupon.maxLimit}}</td>
        <td md-cell>{{coupon.expiryDay | date:'yyyy-MM-dd'}}</td>
        <td md-cell>{{coupon.maxUsagePerUser}} / {{coupon.maxUsagePerCoupon}}</td>
		<td md-cell>
			<button class="md-button md-primary" ng-click="vm.openEditCouponDialog($event, coupon)" >編輯</button>
		</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<data-md-table-pagination  
	md-limit="vm.resource.size" md-page="vm.resource.number" md-total="{{vm.resource.totalElements}}" 
	md-on-paginate="vm.pagination" md-options="vm.pageOptions" 
	md-boundary-links	md-page-select></data-md-table-pagination>