<md-dialog aria-label="List dialog" >
	<form name="form">
		  <md-toolbar class="md-toolbar-tools">
		  	［編號］<span ng-bind="vm.customer.customerId ? vm.customer.customerId : '增加新客戶'"></span>
		  </md-toolbar>
		  <md-dialog-content class="md-padding ">
	            <div layout-gt-xs="row">
	            	<md-input-container>
	            	  	<label>姓</label>
	  					<input type="text" ng-model="vm.customer.lastName" >
	            	</md-input-container>
	            	<md-input-container>
	            	  	<label>名</label>
	  					<input type="text" ng-model="vm.customer.firstName" required>
	  					<div style="font-size: 12px" >姓名 必填</div>
	            	</md-input-container>

	            	<md-input-container>
	            	  	<label>生日</label>
	  					<input type="date" ng-model="vm.customer.birthday" >
	            	</md-input-container>

	            	<md-input-container>
	            	  	<label>性別</label>
	  					<md-select ng-model="vm.customer.gender" placeholder="選擇性別">
					    	<md-option ng-value="opt.value" ng-repeat="opt in vm.genders">{{ opt.key }}</md-option>
					  	</md-select>
	            	</md-input-container>
	            </div>
		  </md-dialog-content>
		  
		  <md-dialog-actions>
			  <md-button aria-label="Save" ng-disabled="form.$invalid" ng-click="vm.save()" class="md-primary">Save</md-button>
			  <md-button aria-label="close" ng-click="vm.closeDialog()" class="md-primary">Close</md-button>
		  </md-dialog-actions>
	</form>
</md-dialog>
