<md-button aria-label="createCustomer" 
	class="md-primary"
	ng-click="vm.openOrderDialog($event ,{})">
	新增 + 
</md-button>

<md-list>
    <!--原本內層tag行為變得跟td一樣 只有一列  ,指定一個tag 且class="md-list-item-text"  讓內層tag有原始的行為 -->
    <md-list-item  class="md-3-line"
                   ng-repeat="order in vm.orders"
                   ng-click="vm.openOrderDialog($event , order)"   aria-label="order" >

        <div  class="md-list-item-text" >
            <div>
				<span ng-bind="order.orderId"></span>
				<span ng-bind="order.orderDate"></span>
				<span ng-bind="order.orderDate"></span>
				<span ng-bind="order.receiverLastName+' '+order.receiverFirstName"></span>			
            </div>
            <div>
				<span ng-bind="order.shipmentPeriod.periodDesc"></span>
				<span ng-bind="order.shipmentDay.shipmentDaysName"></span>
				<span ng-bind="order.shipmentTime.optionName"></span>
            </div> 
        </div>
        <md-divider ></md-divider>
    </md-list-item>

</md-list>