<md-dialog aria-label="List tale"  ng-cloak>
  <form name="constantMaintainForm">
    <md-toolbar>
      <div class="md-toolbar-tools">
       ［編號］
        <span flex ng-bind="vm.constant.constId ? vm.constant.constId : '增加系統參數'"></span>
        <md-button class="md-icon-button" ng-click="vm.closeDialog()">
          <i class="material-icons">clear</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container>
            <label>參數名稱</label>
            <input type="text" ng-model="vm.constant.constName" required />
         </md-input-container>
      </div>
    </md-dialog-content>
    
    <md-dialog-actions layout="row">
      <md-button ng-disable="constantMaintainForm.$invalid" ng-click="vm.save()">
       儲存
      </md-button>
      <md-button ng-click="vm.closeDialog()" style="margin-right:20px;">
       關閉
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>