<form name="form">
	<md-dialog aria-label="List dialog" flex>
	  <md-toolbar class="md-toolbar-tools">
	  	<span ng-bind="'CUSTOMER : '+customer.customerId"></span>
	  </md-toolbar>
	  <md-dialog-content class="md-padding ">
	            <div>
	            	<md-input-container>
	            	  	<label>lastName</label>
	  					<input type="text" ng-model="customer.lastName" >
	            	</md-input-container>
	            	<md-input-container>
	            	  	<label>firstName</label>
	  					<input type="text" ng-model="customer.firstName" required>
	  					<div style="font-size: 12px" >姓名 必填</div>
	            	</md-input-container>
	            	<md-input-container>
	            	  	<label>birthday</label>
	  					<input type="text" ng-model="customer.birthday" >
	            	</md-input-container>
	            	<md-input-container>
	            	  	<label>gender</label>
	  					<input type="text" ng-model="customer.gender" >
	            	</md-input-container>
	            </div>
	            <div>
	                <md-input-container>
	            	  	<label>email</label>
	  					<input type="text" ng-model="customer.email" >
	            	</md-input-container>
	                <md-input-container>
	            	  	<label>address</label>
	  					<input type="text" ng-model="customer.address" >
	            	</md-input-container>
	            </div>
	            <div>
	                <md-input-container>
	            	  	<label>cellphone</label>
	  					<input type="text" ng-model="customer.cellphone" >
	            	</md-input-container>
	                <md-input-container>
	            	  	<label>housePhone</label>
	  					<input type="text" ng-model="customer.housePhone" >
	            	</md-input-container>
	                <md-input-container>
	            	  	<label>officePhone</label>
	  					<input type="text" ng-model="customer.officePhone" >
	            	</md-input-container>
	            </div>
	            <div>
	                <md-input-container>
	            	  	<label>password</label>
	  					<input type="text" ng-model="customer.password" required>
	  					<div style="font-size: 12px" >密碼 必填</div>
	            	</md-input-container>
	            </div>
	  </md-dialog-content>
	  <md-dialog-actions>
	  	<md-button aria-label="Save" ng-disabled="form.$invalid" ng-click="save()" class="md-primary">Save</md-button>
	    <md-button aria-label="close" ng-click="closeDialog()" class="md-primary">Close</md-button>
	  </md-dialog-actions>
	</md-dialog>
</form>