<my-search-panel condition="vm.condition" condition-map="vm.conditionMap" on-search-click="vm.onSearchClick"></my-search-panel>
<md-table-container flex>
  <table md-table md-row-select ng-model="vm.selected">
    <thead md-head md-order="order.orderId">
      <tr md-row>
        <th md-column>編號</th>
        <th md-column>出貨日期</th>
        <th md-column md-numeric>總數量</th>
        <th md-column>有效狀態</th>
        <th md-column>修改人</th>
        <th md-column>修改時間</th>
        <th md-column></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="shipmentRecord" md-select-id="{{shipmentRecord.shipmentRecordId}}" md-auto-select ng-repeat="shipmentRecord in vm.resource.content">
        <td md-cell>{{shipmentRecord.shipmentRecordId}}</td>
        <td md-cell>{{shipmentRecord.date | date : 'yyyy-MM-dd'}}</td>
        <td md-cell><a href='javascript:void(0);' ng-click='vm.openDetailDialog($event, shipmentRecord)'>{{shipmentRecord.shipmentRecordDetails.length}}</a></td>
        <td md-cell>{{shipmentRecord.validFlag}}</td>
        <td md-cell>{{shipmentRecord.updateUserName}}</td>
        <td md-cell>{{shipmentRecord.updateDate | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
        <td md-cell>
          <button class="md-button md-primary" ng-click="vm.invalidate(shipmentRecord)" >刪除</button>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>
<data-md-table-pagination  
  flex="5" md-limit="vm.resource.size" md-page="vm.resource.number" md-total="{{vm.resource.totalElements}}" 
  md-on-paginate="vm.pagination" md-options="vm.pageOptions"
  md-boundary-links md-page-select></data-md-table-pagination>