<md-table-container>
  <table md-table>
    <thead md-head md-order="order.orderId">
      <tr md-row>
        <th md-column>訂單編號</th>
        <th md-column>姓名</th>
        <th md-column ng-repeat='product in vm.shipmentPreference.chosenProductBeans'>{{product.productName}}</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="shipmentInfo in vm.shipmentPreference.shipmentInfoBeans">
        <td md-cell>{{shipmentInfo.orderId}}</td>
        <td md-cell>{{shipmentInfo.name}}</td>
        <td md-cell ng-repeat='product in vm.shipmentPreference.chosenProductBeans'>
          <md-input-container ng-if='product.productStatusBeans[$parent.$index].status!="X"'>
            <label>數量</label>
            <md-select ng-model="product.productStatusBeans[$parent.$parent.$index].status" placeholder="數量" required>
              <md-option ng-value="1" >1</md-option>
              <md-option ng-value="0" >0</md-option>
            </md-select>
          </md-input-container>
          <span ng-if='product.productStatusBeans[$parent.$index].status=="X"'>X</span>
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>