<md-table-container flex="95">
  <table md-table md-row-select ng-model="vm.selected">
    <thead md-head md-order="customer.customerId">
      <tr md-row>
        <th md-column>編號</th>
		<th md-column>FB ID</th>
        <th md-column>姓名</th>
        <th md-column>生日</th>
        <th md-column>信箱</th>
        <th md-column>地址</th>
        <th md-column>修改人</th>
        <th md-column>修改日期</th>
		<th md-column></th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row md-select="customer" md-select-id="{{customer.customerId}}" md-auto-select ng-repeat="customer in vm.resource.content">
        <td md-cell>{{customer.customerId}}</td>
		    <td md-cell>{{customer.fbId}}</td>
        <td md-cell>{{customer.lastName}} {{customer.firstName}}</td>
        <td md-cell>{{customer.birthday | date : 'yyyy-MM-dd'}}</td>
        <td md-cell>{{customer.email}}</td>
        <td md-cell>{{customer.address}}</td>
        <td md-cell>{{customer.updateUserName}}</td>
        <td md-cell>{{customer.updateDate | date : 'yyyy-MM-dd HH:mm:ss'}}</td>
		    <td md-cell>
          <md-menu>
           <md-button aria-label="Open menu" class="md-icon-button" ng-click="$mdOpenMenu($event)" >
            <i class="material-icons">edit</i>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="vm.openEditCustomerDialog($event, customer)">
                <i class="material-icons">edit</i>
                編輯
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
    		</td>
      </tr>
    </tbody>
  </table>
</md-table-container>

<data-md-table-pagination  
	flex="5" md-limit="vm.resource.size" md-page="vm.resource.number" md-total="{{vm.resource.totalElements}}" 
	md-on-paginate="vm.pagination" md-options="vm.pageOptions"
	md-boundary-links	md-page-select></data-md-table-pagination>