<md-dialog aria-label="List dialog" flex>
	<form name="form">
		  <md-toolbar class="md-toolbar-tools">
		  	［訂單］<span ng-bind="order.orderId ? order.orderId : '建立新訂單'"></span>
		  </md-toolbar>
		  <md-dialog-content class="md-padding ">
	            <div>
	            	<md-input-container>
	            	  	<label>訂單日期</label>
	  					<input type="text" ng-model="order.orderDate" >
	            	</md-input-container>
	            	<md-input-container>
	            	  	<label>lastName</label>
	  					<input type="text" ng-model="customer.lastName" >
	            	</md-input-container>
	            	<md-input-container>
	            	  	<label>firstName</label>
	  					<input type="text" ng-model="customer.firstName" required>
	  					<div style="font-size: 12px" >姓名 必填</div>
	            	</md-input-container>
	            </div>
	            <div>
	                <md-input-container>
	            	  	<label>訂單狀態</label>
	  					<input type="text" ng-model="order.orderStatus.orderStatusName" >
	            	</md-input-container>
	                <md-input-container>
	            	  	<label>訂購平台</label>
	  					<input type="text" ng-model="order.orderPlatform.platformName" >
	            	</md-input-container>
	            </div>
	            <div>
	            	<md-input-container>
	            	  	<label>產品名稱</label>
	  					<input type="text" ng-model="order.orderProgram.programName" >
	            	</md-input-container>
	            	<md-input-container>
	            	  	<label>產品數量</label>
	  					<input type="text" ng-model="order.programNum" ng-change="order.totalPrice=order.orderProgram.price*order.programNum">
	            	</md-input-container>
	            	<md-input-container>
	            	  	<label>總價</label>
	  					<input type="text" disabled ng-model="order.totalPrice" >
	            	</md-input-container>
	                <md-input-container>
	            	  	<label>結帳方式</label>
	  					<input type="text" ng-model="order.paymentMode.paymentModeName" >
	            	</md-input-container>
	            </div>
	            <div>
	                <md-input-container>
	            	  	<label>允許進口水果</label>
	  					<input type="text" ng-model="order.allowForeignFruits" >
	            	</md-input-container>
	                <md-input-container>
	            	  	<label>水果偏好</label>
	  					<input type="text" ng-model="order.orderPreferences" >
	            	</md-input-container>
	            </div>
	            <div>
	                <md-input-container>
	            	  	<label>收件人:姓</label>
	  					<input type="text" ng-model="order.receiverLastName " >
	            	</md-input-container>
	                <md-input-container>
	            	  	<label>收件人:名</label>
	  					<input type="text" ng-model="order.receiverFirstName" >
	            	</md-input-container>
	            	<md-input-container>
	            	  	<label>收件人性別</label>
	  					<input type="text" ng-model="order.receiverGender" >
	            	</md-input-container>
	                <md-input-container>
	            	  	<label>收件人信箱</label>
	  					<input type="text" ng-model="order.receiverEmail" >
	            	</md-input-container>
	            </div>
	            <div>
	                <md-input-container>
	            	  	<label>郵遞區號</label>
	  					<input type="text" ng-model="order.postalCode.postId" >
	            	</md-input-container>
	                <md-input-container>
	            	  	<label>收件人地址</label>
	  					<input type="text" ng-model="order.receiverAddress" >
	            	</md-input-container>
	                <md-input-container>
	            	  	<label>收貨方式</label>
	  					<input type="text" ng-model="order.receiveWay.optionName" >
	            	</md-input-container>
	            </div>
	            <div>
	                <md-input-container>
	            	  	<label>配送日</label>
	  					<input type="text" ng-model="order.shipmentDay.shipmentDaysName" >
	            	</md-input-container>
	            	<md-input-container>
	            	  	<label>配送時間</label>
	  					<input type="text" ng-model="order.shipmentPeriod.periodDesc" >
	            	</md-input-container>
	            </div>
	            <div>
	                <md-input-container>
	            	  	<label>收據方式</label>
	  					<input type="text" ng-model="order.receiptWay.optionName" >
	            	</md-input-container>
	                <md-input-container>
	            	  	<label>收據抬頭</label>
	  					<input type="text" ng-model="order.receiptTitle" >
	            	</md-input-container>
	            	<md-input-container>
	            	  	<label>統一編號</label>
	  					<input type="text" ng-model="order.receiptVatNumber" >
	            	</md-input-container>
	            </div>
		  </md-dialog-content>
		  <md-dialog-actions>
			  <md-button aria-label="Save" ng-disabled="form.$invalid" ng-click="save()" class="md-primary">Save</md-button>
			  <md-button aria-label="close" ng-click="closeDialog()" class="md-primary">Close</md-button>
		  </md-dialog-actions>
	</form>
</md-dialog>
