.md-button {
  padding: 0 6px 0 6px;
  margin: 6px 8px 6px 8px;
  min-width: 88px;
  border-radius: 3px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration:none;
  border: none;
  outline: none;
}
.md-button.md-fab {
  line-height: 5.6rem;
  min-width: 0;
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;
}
.md-button.md-fab.md-mini {
      line-height: 4rem;
      width: 4rem;
      height: 4rem;
}
.md-button.md-icon-button {
    margin: 0 0.6rem;
    height: 4.8rem;
    min-width: 0;
    line-height: 4.8rem;
    padding-left: 0;
    padding-right: 0;
    width: 4.8rem;
}
.md-button.md-fab.md-mini {
    line-height: 35px;
    width: 35px;
    height: 35px;
}
.buttondemoBasicUsage section .md-button {
    margin-top: 16px;
    margin-bottom: 16px;
}
.MaskLayer {
    -webkit-transition: opacity linear 0.25s;
    transition: opacity linear 0.25s;
    pointer-events: auto;
}
.MaskLayer.isClosed {
    opacity: 0;
    pointer-events: none;
}
.redDate{
	border : 1.5px solid red;
	border-radius : 50%;
	text-align : center;
	padding : 5px;
	width : 40%;
}
.greenDate{
	border : 1.5px solid black;
	border-radius : 50%;
	text-align : center;
	padding : 5px;
	width : 40%;
}